/*barlow condensed*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*bodoni*/
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
	--font-title: 'Bodoni Moda', serif;
	--font-main: 'Barlow Condensed', sans-serif;
	--color-primary: #FF5757;
	--color-secondary: #A73941;
	--color-disabled: #4C4C47;
	--color-background: #2D2D2A;
	--color-text: #E5DCC5;
};

/**reset**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

body {
	color: var(--color-text);
}

button {
	background-color: var(--color-primary);
	border: none;
	border-radius: 10%;
	font-weight: 800;	
	margin: 0.5rem;
	min-width: 2rem;
	min-height: 2rem;
}

button:hover {
	background-color: var(--color-secondary);
}

button:disabled {
	background-color: var(--color-disabled);
}

#title {
	flex-direction: column;
	font-family: var(--font-title);
	text-transform: capitalize;
	padding: 0.5rem;
}

#title > h1 {
	font-weight: 900;
}

#tomato {
	height: 12vh;
}

#wrapper {
	flex-direction: column;
	font-family: var(--font-main);
	height: 100vh;
	justify-content: space-evenly;
	text-align: center;
	background-color: var(--color-background);
}

#adjust-time-container {
	flex-wrap: wrap;
	justify-content: center;
}

#adjust-time-container > div {	
	padding-right: 6vw;
	padding-left: 6vw;
}

#session-container > div:nth-child(2) {
 justify-content: center;
}

#break-container > div:nth-child(2) {
 justify-content: center;
}

#length-container > h2 {
	width: 2rem;
}

#timer-container {
	flex-direction: column;
}

#timer-label {
	text-transform: uppercase;
}

#time-left {
	border: 5px solid var(--color-primary);
	border-radius: 5%;
	padding: 0.5rem;
	width: 150px;
}

.center-flex {
	align-items: center;	
	display: flex;
}

#author-info {
}

a {
	color: var(--color-text);
}

a:hover {
	color: var(--color-text);
	text-underline-offset: 3px;
}

#wrapper > div:nth-child(2) {
 /*! flex-direction: row; */display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
